<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login and Registration</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'LOGIN_APP/css/style.css' %}"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="registration">
                    <form action="/process/registration" method="POST" >
                        {% csrf_token %}
                        <table class="table">
                            <thead>Registration</thead>
                            <tbody>
                                <tr>
                                    <td>
                                        First Name: <input type="text" name="fname">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Last Name: <input type="text" name="lname">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email: <input type="text" name="email">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Password: <input type="text" name="password">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Password Confirmation: <input type="text" name="confirmation">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" name="Register" value="Register">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                </div> <!--REGISTRATION--> 

                <div class="login">
                    <form action="/process/login" method="POST">
                        {% csrf_token %}
                        <table class="table">
                            <thead>Login</thead>

                            <tbody>
                                <tr>
                                    <td>
                                        Email: <input type="text" name="email">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Password: <input type="text" name="password">
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                            <input type="submit" name="Login" value="Log In">
                                        </td>
                                </tr>

                            </tbody>
                        </table>
                        {% if messages %}
                        <tfoot class="messages">
                            <tr>
                                {% for message in messages %}
                                <td>{{ message }}</li>
                                {% endfor %}
                            </tr>
                        </tfoot>
                         {% endif %}

                    </form>    
                    <a href="/pages">GO TO MAIN PAGE</a>     <br>      
                    <a href="/success">GO TO SUCCESS PAGE</a>           
                </div> <!--LOGIN--> 
            </div> <!--ROWS-->  
        </div> <!--CONTAINER-->       
    </body>
</html>
